<p id="notice"><%= notice %></p>

<h1>Teams for <%= @project.name %></h1>
<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.description %></td>
        <td><%= link_to 'Show', project_team_path(@project.id, team) %></td>
        <td><%= link_to 'Edit', edit_project_team_path(@project.id, team) %></td>
        <td><%= link_to 'Destroy', project_team_path(@project.id, team), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_project_team_path(@project.id) %>
