<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<br>

<%= link_to 'Edit', edit_project_team_path(@team.project, @team) %> |
<%= link_to 'Destroy', project_team_path(@project.id, @team), method: :delete, data: { confirm: 'Are you sure?' } %>

<hr>

<!-- Team members -->
<h6>Team Members</h6>
<div class="phase_overview">
  <table class="phase_table">
    <tr class="top_row">
      <th>Name</th>
      <th>other data here ....</th>
    </tr>
    <% @team.team_members.each do |member| %>
      <tr>
        <th><%= link_to member.user.name, project_team_team_member_path(@project.id, @team.id, member) %></th>
      </tr>
    <% end %>
  </table>
</div>
