<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<%= link_to 'Edit', edit_project_team_path(@team.project, @team) %> |
<%= link_to 'List', project_teams_path(@team.project) %>
