<div class="modal-dialog" role="document" data-hypothesis-id="<%= @hypothesis.id %>" data-project-id="<%= @project.id %>" data-hypothesis-area-identifier="<%= @hypothesis.area_identifier %>">
   <div class="modal-content">
      <div class="modal-header">
         <h4 class="modal-title"><%= @hypothesis.new_record? ? 'New hypothesis' : @hypothesis.name %></h4>
      </div>
      <div class="modal-body">
         <%= bootstrap_form_for([@project, @hypothesis], remote: true) do |f| %>
          <% if @hypothesis.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@hypothesis.errors.count, "error") %> prohibited this hypothesis from being saved:</h2>

              <ul>
              <% @hypothesis.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.hidden_field :project_id, value: @project.id %>
          <%= f.select :area_identifier, Canvas.get_list_of_areas, label: 'Canvas area' %>
          <%= f.text_field :name %>
          <%= f.text_area :description %>
      </div>
      <div class="modal-footer">
         <% if @hypothesis.new_record? %>
            <%= f.submit "Save", remote: true, class:"btn btn-success", id:'submit-create' %>
         <% end %>
         <% if !@hypothesis.new_record? %>
            <%= f.submit "Save", remote: true, class:"btn btn-success", id:'submit-edit' %>
            <button id="delete" type="button" class="btn btn-danger">Delete</button>
         <% end %>
         <button id="close-modal" type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
        <% end %>
   </div>
</div>
