<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hypothesis.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hypothesis.description %>
</p>

<br />

<%= link_to 'Edit', edit_project_hypothesis_path(@hypothesis.project, @hypothesis) %> |
<%= link_to 'Destroy', project_hypothesis_path(@project.id, @hypothesis), method: :delete, data: { confirm: 'Are you sure?' } %>
