<%= simple_form_for(@result) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :level %>
    <%= f.input :comment %>
    <%= f.association :experiment %>
    <%= f.association :hypothesis %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
