<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h6 class="panel-title text-center">
          Sprint <%= @sprint_sequence %>
          <%= link_to 'Edit', edit_project_phase_sprint_path(@project.id, @phase.id, @sprint), class: "btn btn-xs btn-success pull-right" %>
        </h6>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="form form-horizontal">
              <div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-6" style="margin: 1px">
                <label for="">Start date</label>
                <input type="text" class="form-control" id="" placeholder="no date yet" value="<%= @sprint.start_date.strftime("%d %B %Y") %>" disabled>
              </div>
              <div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-6" style="margin: 1px">
                <label for="">End date</label>
                <input type="text" class="form-control" id="" placeholder="no date yet" value="<%= @sprint.end_date.strftime("%d %B %Y") %>" disabled>
              </div>
              <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-6" style="margin: 1px">
                <label for="">Completion</label>
                <input type="text" class="form-control" id="" value="<%= @sprint.completed ? 'Sprint is completed' : 'Sprint is not completed' %>" disabled>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <div id="accordion">
              <h3>Things done</h3>
              <div class="panel panel-default panel-heading">
                <div class="form-group">
                  <textarea class="form-control" title="things_done"placeholder=" -- " value="<%= @sprint.things_done %>" disabled></textarea>
                </div>
              </div>
              <h3>Things learned</h3>
              <div class="panel panel-default panel-heading">
                <div class="form-group">
                  <textarea class="form-control" title="things_done"placeholder=" -- " value="<%= @sprint.things_learned %>" disabled></textarea>
                </div>
              </div>
              <h3>Impediments</h3>
              <div class="panel panel-default panel-heading">
                <div class="form-group">
                  <textarea class="form-control" title="things_done"placeholder=" -- " value="<%= @sprint.impediments %>" disabled></textarea>
                </div>
              </div>
              <h3>Performances</h3>
              <div class="panel panel-default panel-heading">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form form-horizontal">
                      <div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-6" style="margin: 1px">
                        <label for="">Stories estimated</label>
                        <input type="text" class="form-control" id="" placeholder=" -- " value="<%= @sprint.stories_estimated %>" disabled>
                      </div>
                      <div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-6" style="margin: 1px">
                        <label for="">Stories completed</label>
                        <input type="text" class="form-control" id="" placeholder=" -- " value="<%= @sprint.stories_completed %>" disabled>
                      </div>
                      <div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-6" style="margin: 1px">
                        <label for="">Performance ratio</label>
                        <input type="text" class="form-control" id="" value="<%= @sprint.stories_completion[:number] %> (<%= number_to_percentage(@sprint.stories_completion[:ratio] * 100, options = {precision: 2}) %>) " disabled>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form form-horizontal">
                      <div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-6" style="margin: 1px">
                        <label for="">Points estimated</label>
                        <input type="text" class="form-control" id="" placeholder=" -- " value="<%= @sprint.points_estimated %>" disabled>
                      </div>
                      <div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-6" style="margin: 1px">
                        <label for="">Points completed</label>
                        <input type="text" class="form-control" id="" placeholder=" -- " value="<%= @sprint.points_completed %>" disabled>
                      </div>
                      <div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-6" style="margin: 1px">
                        <label for="">Performance ratio</label>
                        <input type="text" class="form-control" id="" value="<%= @sprint.points_completion[:number] %> (<%= number_to_percentage(@sprint.points_completion[:ratio] * 100, options = {precision: 2}) %>) " disabled>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form form-horizontal">
                      <div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-6" style="margin: 1px">
                        <label for="">Happiness</label>
                        <input type="text" class="form-control" id="" placeholder=" -- " value="<%= @sprint.happiness %>" disabled>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
    <table class="table table-condensed">
      <caption>Experiments</caption>
      <thead>
        <tr>
          <th>In sprint</th>
          <th>Completed</th>
          <th>Experiment</th>
          <th>Interviews</th>
          <th>Early adopters</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <% @sprint.phase.experiments.each do |experiment| %>
          <% already_added = @sprint.experiments.include? experiment %>
          <tr>
            <td>
            <% if already_added %>
              [x]
            <% else %>
              [ ]
            <% end %>
            <th>
            <% if experiment.completed %>
              [x]
            <% else %>
              [ ]
            <% end %>
            </td>
            <td><%= link_to experiment.name, sti_experiment_path(@project.id, @phase.id, experiment.type, experiment) %></td>
            <td><%= experiment.interviews_completion[:number] %>
              (<%= number_to_percentage(experiment.interviews_completion[:ratio] * 100, options = {precision: 2}) %>)
            </td>
            <td><%= experiment.early_adopters_conversion[:number] %>
              (<%= number_to_percentage(experiment.early_adopters_conversion[:ratio] * 100, options = {precision: 2}) %>)
            </td>
            <td>
              <%= button_to(name = already_added ? "Remove" : "Add", options = {action: "update_experiment_assignment"} , html_options = {method: "post", params:{project_id: @project.id, phase_id: @phase_id, id: @sprint.id, experiment_id: experiment.id}, class: already_added ? 'btn btn-danger btn-xs' : 'btn btn-success btn-xs'}) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
</div>

<br>

<%= link_to 'Back to phase', project_phase_path(@project.id, @phase.id) %>

<script>
$( function() {
  $( "#accordion" ).accordion({collapsible: true, active: false});
});
</script>
