<h1>Step 2 - Experiment description</h1>

<%= form_for([@project, @phase, @experiment], method: :put, url: wizard_path) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :domain %>
    <%= f.text_field :domain %>
  </div>

  <div class="field">
    <%= f.label :assumption %>
    <%= f.text_area :assumption %>
  </div>

  <div class="field">
    <%= f.label :method %>
    <%= f.text_area :method %>
  </div>

  <div class="field">
    <%= f.label :action %>
    <%= f.text_area :action %>
  </div>

  <div class="field">
    <%= f.label :observation %>
    <%= f.text_area :observation %>
  </div>

  <div class="field">
    <%= f.label :success_criteria %>
    <%= f.text_area :success_criteria %>
  </div>

  <div class="field">
    <%= f.label :measure %>
    <%= f.text_area :measure %>
  </div>

  <div class="actions">
    <%= f.submit 'Next step' %>
  </div>
<% end %>
