<h1>Step 2 - Experiment description</h1>

<div class="row">
  <div class="col-xs-6">
    
    <%= bootstrap_form_for([@project, @phase, @experiment], method: :put, url: wizard_path) do |f| %>
      <% if @experiment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

          <ul>
          <% @experiment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <%= f.text_field :domain %>

        <%= f.text_area :assumption %>

        <%= f.text_area :method %>

        <%= f.text_area :action %>

        <%= f.text_area :observation %>

        <%= f.text_area :success_criteria %>

        <%= f.text_area :measure %>

        <%= f.submit 'Next step' %>

    <% end %>

  </div>
</div>
