<h1>Step 3 - Experiment results</h1>

<%= form_for([@project, @phase, @experiment], method: :put, url: wizard_path) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :learned %>
    <%= f.text_area :learned %>
  </div>

  <div class="field">
    <%= f.label :interviews_planned %>
    <%= f.number_field :interviews_planned %>
  </div>

  <div class="field">
    <%= f.label :interviews_done %>
    <%= f.number_field :interviews_done %>
  </div>

  <div class="field">
    <%= f.label :early_adopters_planned %>
    <%= f.number_field :early_adopters_planned %>
  </div>

  <div class="field">
    <%= f.label :early_adopters_converted %>
    <%= f.number_field :early_adopters_converted %>
  </div>

  <div class="actions">
    <%= f.submit 'Finish' %>
  </div>
<% end %>
