<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <% if project.new_record? %>

    <%= f.hidden_field :active, value: true %>

    <%= f.fields_for :phases do |m| %>
       <div class="field">
         <%= m.label 'Current phase' %><br>
         <%= m.select :sequence, Project.get_list_of_phases %>
       </div>
    <% end %>

  <% else %>

    <div class="field">
      <%= f.label :active %>
      <%= f.select :active, [['Active', true], ['Inactive', false]] %>
    </div>

    <div class="field">
      <%= f.label :current_phase_id %>
      <%= f.select :current_phase_id, Project.get_project_phases %>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
