<%= bootstrap_form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, wrapper: {class: 'col-sm-6'} %>
  <div class="col-sm-6">
    <%= f.select :status, Project.status, include_blank: true %>
  </div>
  <%= f.text_area :description, wrapper: {class: 'col-sm-12'} %>

  <% if project.new_record? %>
    <%= f.hidden_field :created_by_id, value: current_user.id %>
    <%= f.hidden_field :active, value: true %>

    <%= f.fields_for :phases do |m| %>
       <%= m.select :sequence, Project.get_list_of_phases, label: "Starting phase", wrapper: {class: 'col-sm-6'} %>
    <% end %>
  <% end %>

  <%= f.submit "Save", class:"btn btn-success" %>
  <% if !project.new_record? %>
    <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
  <%= link_to 'Cancel', project.new_record? ? projects_path : @project, class:"btn btn-info" %>

<% end %>
