<p id="notice"><%= notice %></p>

<h3>Active Projects</h3>

<div class="container block">
    <% @projects.each do |project| %>
        <% if project.active %>
            <div class="col-md-3 col-sm-6">
                <%= link_to project do %>
                    <div class="panel panel-info">
                        <div class="panel-heading" style="height: 80px">
                          <td><%= project.name %></td><br>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    <% end %>
    <div class="col-md-3 col-sm-6 text-center">
        <%= link_to new_project_path do %>
          <div class="panel panel-default">
              <div class="panel-body" style="height: 80px">
                  <td>Create a new project..</td>
              </div>
          </div>
        <% end %>
    </div>
</div>

<br>

<h3>Past Projects</h3>

<div class="container block">
    <% @projects.each do |project| %>
        <% if !project.active %>
            <div class="col-md-3 col-sm-6">
                <%= link_to project do %>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="height: 80px">
                            <td><%= project.name %></td><br>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>
