<p id="notice"><%= notice %></p>

<h3>Active Projects</h3>

<div class="container block">
    <% @projects.each do |project| %>
        <% if project.active %>
            <div class="col-md-3 col-sm-6">
                <%= link_to project do %>
                    <div class="panel panel-info">
                        <div class="panel-heading projects-index-box">
                            <span><%= project.name %></span>
                        </div>
                        <div class="panel-heading projects-index-box">
                            <span class="glyphicon glyphicon-user"> <%= project.created_by.name %></span>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    <% end %>
    <div class="col-md-3 col-sm-6 text-center">
        <%= link_to new_project_path do %>
          <div class="panel panel-default">
              <div class="panel-body" style="height: 80px">
                  <span>Create a new project..</span>
              </div>
          </div>
        <% end %>
    </div>
</div>

<br>


<h3>Past Projects</h3>

<% if (@projects.select { |p| p[:active] == false }).empty? %>
    <div class="container">
        <div class="col-md-3 col-sm-6 text-center">
            <p>No past projects yet</p>
        </div>
    </div>
<% end %>

<div class="container block">
    <% @projects.each do |project| %>
        <% if !project.active %>
            <div class="col-md-3 col-sm-6">
                <%= link_to project do %>
                    <div class="panel panel-default">
                        <div class="panel-heading projects-index-box">
                            <span><%= project.name %> hasfsafs hgfhasgf hsgfhasg hgfashfg ahgsfhsafg hgfas</span>
                        </div>
                        <div class="panel-heading projects-index-box">
                            <span class="glyphicon glyphicon-user"> <%= project.created_by.name %></span>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>
