<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @project.active %>
</p>

<!--  Phases -->
<div class="phase_overview">
  <table class="phase_table">
    <tr class="top_row">
      <th>Current</th>
      <th>Phase</th>
      <th>Start date</th>
      <th>End date</th>
    </tr>
    <% @project.phases.order(:sequence).each do |phase| %>
      <tr>
        <th>
        <% if @project.current_phase_id == phase.id %>
          [x]
        <% else %>
          [ ]
        <% end %>
        </th>
        <th><%= link_to phase.name, project_phase_path(@project.id, phase) %></th>
        <th><%= phase.start_date.present? ? phase.start_date.strftime("%d %B %Y") : '-' %></th>
        <th><%= phase.end_date.present? ? phase.end_date.strftime("%d %B %Y") : '-' %></th>
        <th>
          <%= button_to(name = "Set to current", options = {action: "set_current_phase"} , html_options = {method: "post", params:{phase_id: phase.id, id: @project.id}, disabled: @project.current_phase_id == phase.id, class: 'btn btn-info btn-xs'}) %>
        </th>
      </tr>
    <% end %>
  </table>
  <br />
  <%= link_to 'New phase', new_project_phase_path(@project.id), :class => 'btn btn-large btn-success' %>
</div>
<br />
<!-- Canvases -->
<div class="phase_overview">
  <table class="phase_table">
    <tr class="top_row">
      <th>Canvas</th>
    </tr>
    <% @project.canvases.each do |canvas| %>
      <tr>
        <th><%= link_to canvas.name, project_canvas_path(@project.id, canvas) %></th>
      </tr>
    <% end %>
  </table>
  <br />
  <%= link_to 'New canvas', new_project_canvas_path(@project.id), :class => 'btn btn-large btn-success' %>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'List', projects_path %>
