<p id="notice"><%= notice %></p>

<div id="tabs" data-selected-tab="<%= params[:selected_tab] || 0 %>" style="border: 0">
  <ul>
    <li><a href="#tabs-0">Header</a></li>
    <li><a href="#tabs-1">Canvas</a></li>
    <li><a href="#tabs-2">Phases</a></li>
    <li><a href="#tabs-3">Hypotheses</a></li>
    <li><a href="#tabs-4">Project members</a></li>
  </ul>
  <div class="panel panel-default panel-body">
    <!-- Header -->
    <div id="tabs-0">
      <p>
        <strong>Name:</strong>
        <%= @project.name %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @project.description %>
      </p>
      <div>
        <p style="display: inline" class="form-control"><%= @project.active ? 'Project is Active' : 'Project is Inactive' %></p>
        <%= button_to(name = @project.active ? 'Set to Inactive' : 'Set to Active', "/projects/#{@project.id}/update_active_status" , html_options = {form: {style: 'display:inline-block'}, method: "post", params:{id: @project.id}, class: 'btn btn-xs btn-info'}) %>
      </div>
      <br />
      <%= link_to 'Edit', edit_project_path(@project), class:'btn btn-success' %>
    </div>
    <!-- Canvas -->
    <div id="tabs-1">
      <div class="row">
        <div class="col-xs-12">
          <%= link_to 'New canvas', new_project_canvas_path(@project.id), :class => 'btn btn-large btn-success' %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead class="small">
                <th>Name</th>
                <th>Market size</th>
                <th>Breakeven customers</th>
                <th>Payback period</th>
                <th>Gross margin</th>
                <th>Pain level</th>
                <th>Ease of reach</th>
                <th>Feasibility</th>
                <th>Riskiness</th>
              </thead>
              <tbody>
                <% @project.canvases.each do |canvas| %>
                  <tr>
                    <td><%= link_to canvas.name, project_canvas_path(@project.id, canvas) %></td>
                    <td><%= canvas.market_size %></td>
                    <td><%= canvas.customers_to_break_even %></td>
                    <td><%= canvas.payback_period %></td>
                    <td><%= canvas.gross_margin %></td>
                    <td><%= canvas.customer_pain_level %></td>
                    <td><%= canvas.market_ease_of_reach %></td>
                    <td><%= canvas.feasibility %></td>
                    <td><%= canvas.riskiness %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--  Phases -->
    <div id="tabs-2">
      <div class="row">
        <div class="col-xs-12">
          <%= link_to 'New phase', new_project_phase_path(@project.id), :class => 'btn btn-success' %>
        </div>
      </div>
      <hr>
      <div class="row">
        <% @project.phases.order(:sequence).each do |phase| %>
          <div class="col-md-4 col-xs-6">
            <div class="panel <%= @project.current_phase_id == phase.id ? 'panel-info' : 'panel-default' %>">
              <div class="panel-heading">
                <p class="text-center">
                  <b><%= link_to phase.name, project_phase_path(@project.id, phase) %></b>
                </p>
                <p>
                  <%= phase.start_date.present? ? phase.start_date.strftime("%d %b %Y") : '--' %> - <%= phase.end_date.present? ? phase.end_date.strftime("%d %b %Y") : '--' %></p>
                </p>
                <%= button_to(name = "Set to current", "/projects/#{@project.id}/set_current_phase" ,
                  html_options = {form: {style: 'display:inline-block;'},
                  data: { confirm: 'Any previous phase will be set to complete. Continue?' },
                  method: "post", params:{phase_id: phase.id, id: @project.id},
                  disabled: @project.current_phase_id == phase.id, class: 'btn btn-xs btn-info' }) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Hypotheses -->
    <div id="tabs-3">
      <div class="row">
        <div class="col-xs-12">
          <%= link_to 'New hypothesis', new_project_hypothesis_path(@project.id), :class => 'btn btn-success' %>
        </div>
      </div>
      <hr>
      <!-- Modal -->
      <div id="show-hypothesis" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
      <div class="row" id="areas-row">
        <% (@project.hypotheses.group_by { |h| h.area_identifier }).each do |k, v| %>
          <div class="col-xs-12" id="area-col-<%= k.gsub(' ', '-') %>">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h6 class="panel-title"><%= k.capitalize %></h6>
              </div>
              <div class="panel-body">
                <% v.each do |hypothesis| %>
                  <div class="col-sm-3" id="hypothesis-col-<%= hypothesis.id %>">
                    <div class="panel panel-primary panel-heading" style="height: 80px; overflow: hidden; white-space: normal;">
                      <p>
                        <%= link_to hypothesis.name, project_hypothesis_path(@project.id, hypothesis),
                          { remote: true, 'data-toggle': "modal", 'data-target': '#show-hypothesis',
                            id: "hypothesis-link-#{hypothesis.id}"} %>
                        <!-- <%= link_to hypothesis.name, project_hypothesis_path(@project.id, hypothesis) %> -->
                      </p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Project members -->
    <div id="tabs-4">
      <div class="row">
        <div class="col-xs-12">
          <p>Project created by: <%= @project.creator.name %> - <%= @project.creator.email %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <%= bootstrap_form_tag url: "/projects/#{@project.id}/add_user", layout: :inline do |f| %>
            <%= f.hidden_field :id, value: @project.id %>
            <%= f.select(:user_id, options_for_select(User.all.map { |h| [h.name, h.id] }), hide_label: true) %>
            <%= f.submit 'Add user', class:'btn btn-default' %>
          <% end %>
        </div>
      </div>
      <br>
      <div class="row">
        <% @project.users.each do |user| %>
          <div class="col-sm-3">
            <div class="panel panel-default panel-heading">
              <p><%= user.name %></p>
              <p><%= user.email %></p>
              <%= button_to(name = "Remove", "/projects/#{@project.id}/remove_user" , html_options = {method: "post", params:{id: @project.id, user_id: user.id}, class: 'btn btn-danger btn-xs'}) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $( function() {
    var selectedTab = $("#tabs").data("selected-tab")
    $( "#tabs" ).tabs({ active: selectedTab });
  });
</script>
