
<%= bootstrap_form_for([@project, @phase, @experiment]) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.hidden_field :phase_id, value: @phase.id %>
    <%= f.text_field :name, wrapper: {class: 'col-md-4 col-xs-8'} %>
    <div class="col-md-4 col-xs-8">
      <%= f.select :type, Experiment.experiment_types.map {|r| [(r.underscore).split('_')[0].capitalize, r]}, {}, disabled: @experiment_type != "Experiment" %>
    </div>
    <%= f.text_area :description, wrapper: {class: 'col-xs-12'} %>
    <div class="col-xs-3">
      <%= f.check_box :completed %>
    </div>
  </div>
  <div class="row">
    <%= f.number_field :interviews_planned, wrapper: {class: 'col-md-3 col-xs-6'} %>
    <%= f.number_field :interviews_done, wrapper: {class: 'col-md-3 col-xs-6'} %>
    <%= f.number_field :early_adopters_planned, wrapper: {class: 'col-md-3 col-xs-6'} %>
    <%= f.number_field :early_adopters_converted, wrapper: {class: 'col-md-3 col-xs-6'} %>
  </div>

  <!-- <hr>

  <div class="row">
    <%= f.fields_for :results do |results_form| %>
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title"><%= results_form.object.hypothesis.name %></h6>
          </div>
          <div class="panel-body">
            <%= results_form.number_field :level %>
            <%= results_form.text_area :comment %>
          </div>
        </div>
      </div>
    <% end %>
  </div> -->

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <%= f.submit "Save", class:"btn btn-success" %>
      <% if !@experiment.new_record? %>
        <%= link_to 'Delete', sti_experiment_path(@project.id, @phase.id, @experiment.type, @experiment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% end %>
      <%= link_to 'Cancel', @experiment.new_record? ? project_phase_path(@project.id, @phase, selected_tab: 1) : sti_experiment_path(@project.id, @phase.id, @experiment.type, @experiment), class:"btn btn-info" %>
    </div>
  </div>

<% end %>
