
<p><b>Project:</b> <em><%= @project.name %></em> - <b>Phase:</b> <em><%= @phase.name %></em></p>

<%= bootstrap_form_for([@project, @phase, @experiment]) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :phase_id, value: @phase.id %>

  <%= f.text_field :name %>

  <%= f.text_field :description %>

  <%= f.check_box :completed %>

  <%= f.number_field :interviews_planned %>
  <%= f.number_field :interviews_done %>

  <%= f.number_field :early_adopters_planned %>
  <%= f.number_field :early_adopters_converted %>

  <%= collection_check_boxes(:experiment, :hypothesis_ids, Hypothesis.all, :id, :name) %>

  <%= f.submit %>

<% end %>
