<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h6 class="panel-title text-center"><%= @experiment.name %></h6>
      </div>
      <div class="panel-body">

        <p>
          <strong>Description</strong>
          <%= @experiment.description %>
        </p>

        <p>
          <strong>Completed:</strong>
          <%= @experiment.completed %>
        </p>

        <p>
          <strong>Interviews planned:</strong>
          <%= @experiment.interviews_planned %>
        </p>

        <p>
          <strong>Interviews done:</strong>
          <%= @experiment.interviews_done %>
        </p>

        <p>
          <strong>Early adopters planned:</strong>
          <%= @experiment.early_adopters_planned %>
        </p>

        <p>
          <strong>Early adopters converted:</strong>
          <%= @experiment.early_adopters_converted %>
        </p>
        <hr>
        <div class="from-group pull-right">
          <%= link_to 'Edit', edit_project_phase_experiment_path(@project.id, @phase.id, @experiment) %> |
          <%= link_to 'Destroy', project_phase_experiment_path(@project.id, @phase.id, @experiment), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>

        <!-- Hypotesis selected -->
        <h6>Hypotheses selected</h6>
        <%= bootstrap_form_tag url: "/projects/#{@project.id}/phases/#{@phase.id}/experiments/#{@experiment.id}/add_hypothesis" do |f|%>
          <%= f.hidden_field :id, value: @experiment.id %>
          <%= f.select(:hypothesis_id, grouped_options_for_select(Hypothesis.for_grouped_select)) %>
          <%= f.submit("Add hypothesis") %>
        <% end %>
        <div class="phase_overview">
          <table class="phase_table">
            <tr class="top_row">
              <th>Name</th>
              <th>Validation level</th>
            </tr>
            <% @experiment.results.each do |result| %>
              <tr>
                <th><%= link_to result.hypothesis.name, project_hypothesis_path(@project.id, result.hypothesis) %></th>
                <th><%= Result::LEVELS[result.level] if result.level.present? %></th>
                <th>
                  <%= button_to("Remove", "/projects/#{@project.id}/phases/#{@phase.id}/experiments/#{@experiment.id}/remove_hypothesis" , html_options = {method: "post", params:{project_id: @project.id, phase_id: @phase_id, id: @experiment.id, result_id: result.id}, class: 'btn btn-danger btn-xs' }) %>
                </th>
              </tr>
            <% end %>
          </table>
        </div>

        <!-- Experiment Users -->
        <h6>Project members assigned to experiment</h6>
        <%= bootstrap_form_tag url: "/projects/#{@project.id}/phases/#{@phase.id}/experiments/#{@experiment.id}/add_user" do |f|%>
          <%= f.hidden_field :id, value: @experiment.id %>
          <%= f.select(:user_id, @experiment.phase.project.users.collect {|u| [ u.name, u.id ] },) %>
          <%= f.submit("Add user") %>
        <% end %>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @experiment.users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                  <%= button_to("Remove", "/projects/#{@project.id}/phases/#{@phase.id}/experiments/#{@experiment.id}/remove_user" , html_options = {method: "post", params:{project_id: @project.id, phase_id: @phase_id, id: @experiment.id, user_id: user.id}, class: 'btn btn-danger btn-xs' }) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<%= link_to 'Back to phase', project_phase_path(@project.id, @phase.id) %>
