<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h6 class="panel-title text-center">
      <%= "Experiment: #{@experiment.name}" %>
      <%= link_to 'Edit', edit_project_phase_experiment_path(@project.id, @phase.id, @experiment), class:'btn btn-success btn-xs pull-right' %>
    </h6>
  </div>
  <div class="panel-body">
    <div id="accordion">
      <h3>Description</h3>
      <div class="panel panel-default panel-heading">
        <div class="form-group">
          <textarea class="form-control" title="description" placeholder=" -- " disabled><%= @experiment.description %></textarea>
        </div>
      </div>
      <h3>Results</h3>
      <div class="panel panel-default panel-heading">
        <div class="row">
          <div class="form">
            <div class="form-group col-sm-6 col-xs-6" style="margin: 1px">
              <label class="small">Completion</label>
              <input type="text" class="form-control" id="" value="<%= @experiment.completed ? 'Experiment is completed' : 'Experiment is not completed' %>" disabled>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form form-horizontal">
            <div class="form-group col-sm-3 col-xs-6" style="margin: 1px">
              <label class="small">Interviews planned</label>
              <input type="text" class="form-control" id="" placeholder=" -- " value="<%= @experiment.interviews_planned %>" disabled>
            </div>
            <div class="form-group col-sm-3 col-xs-6" style="margin: 1px">
              <label class="small">Interviews done</label>
              <input type="text" class="form-control" id="" placeholder=" -- " value="<%= @experiment.interviews_done %>" disabled>
            </div>
            <div class="form-group col-sm-3 col-xs-6" style="margin: 1px">
              <label class="small">Iterviews completion</label>
              <input type="text" class="form-control" id="" value="<%= @experiment.interviews_completion[:number] %> (<%= number_to_percentage(@experiment.interviews_completion[:ratio] * 100, options = {precision: 2}) %>) " disabled>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form form-horizontal">
            <div class="form-group col-sm-3 col-xs-6" style="margin: 1px">
              <label class="small">Early adopters planned</label>
              <input type="text" class="form-control" id="" placeholder=" -- " value="<%= @experiment.early_adopters_planned %>" disabled>
            </div>
            <div class="form-group col-sm-3 col-xs-6" style="margin: 1px">
              <label class="small">Early adopters converted</label>
              <input type="text" class="form-control" id="" placeholder=" -- " value="<%= @experiment.early_adopters_converted %>" disabled>
            </div>
            <div class="form-group col-sm-3 col-xs-6" style="margin: 1px">
              <label class="small">Early adopters conversion</label>
              <input type="text" class="form-control" id="" value="<%= @experiment.early_adopters_conversion[:number] %> (<%= number_to_percentage(@experiment.early_adopters_conversion[:ratio] * 100, options = {precision: 2}) %>) " disabled>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="tabs" data-selected-tab="<%= params[:selected_tab] || 0 %>" style="border: 0">
  <ul>
    <li><a href="#tabs-0">Hypotheses</a></li>
    <li><a href="#tabs-1">Project members</a></li>
  </ul>
  <div class="panel panel-default panel-body">
    <!-- Hypotheses -->
    <div id="tabs-0">
      <%= bootstrap_form_tag url: "/projects/#{@project.id}/phases/#{@phase.id}/experiments/#{@experiment.id}/add_hypothesis", layout: :inline do |f|%>
        <%= f.hidden_field :id, value: @experiment.id %>
        <%= f.select(:hypothesis_id, grouped_options_for_select(@experiment.hypothesis_for_grouped_select), hide_label: true) %>
        <%= f.submit("Add hypothesis") %>
      <% end %>
      <hr>
      <% @experiment.results.each do |result| %>
        <div class="col-sm-3">
          <div class="panel panel-default panel-heading">
            <p><%= link_to result.hypothesis.name, project_hypothesis_path(@project.id, result.hypothesis) %></p>
            <p><%= Result::LEVELS[result.level] if result.level.present? %></p>
            <%= button_to("Remove", "/projects/#{@project.id}/phases/#{@phase.id}/experiments/#{@experiment.id}/remove_hypothesis" , html_options = {method: "post", params:{project_id: @project.id, phase_id: @phase_id, id: @experiment.id, result_id: result.id}, class: 'btn btn-danger btn-xs' }) %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Project members -->
    <div id="tabs-1">
      <%= bootstrap_form_tag url: "/projects/#{@project.id}/phases/#{@phase.id}/experiments/#{@experiment.id}/add_user", layout: :inline do |f| %>
      <%= f.hidden_field :id, value: @experiment.id %>
      <%= f.select(:user_id, @experiment.phase.project.users.collect {|u| [ u.name, u.id ] }, hide_label: true) %>
      <%= f.submit("Add user") %>
      <% end %>
      <hr>
      <% @experiment.users.each do |user| %>
        <div class="col-sm-3">
          <div class="panel panel-default panel-heading">
            <p><%= user.name %></p>
            <p><%= user.email %></p>
            <%= button_to(name = "Remove", "/projects/#{@project.id}/phases/#{@phase.id}/experiments/#{@experiment.id}/remove_user" , html_options = {method: "post", params:{project_id: @project.id, phase_id: @phase_id, id: @experiment.id, user_id: user.id}, class: 'btn btn-danger btn-xs'}) %>
          </div>
        </div>
      <% end %>
    </div>
</div>

<%= link_to 'Back to phase', project_phase_path(@project.id, @phase.id) %>

<script>
  $( function() {
    $( "#accordion" ).accordion({collapsible: true, active: false});
    var selectedTab = $("#tabs").data("selected-tab")
    $( "#tabs" ).tabs({ active: selectedTab });
  });
</script>
