<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h6 class="panel-title text-center"><%= @experiment.name %></h6>
      </div>
      <div class="panel-body">

        <p>
          <strong>Description</strong>
          <%= @experiment.description %>
        </p>

        <p>
          <strong>Completed:</strong>
          <%= @experiment.completed %>
        </p>

        <p>
          <strong>Interviews planned:</strong>
          <%= @experiment.interviews_planned %>
        </p>

        <p>
          <strong>Interviews done:</strong>
          <%= @experiment.interviews_done %>
        </p>

        <p>
          <strong>Early adopters planned:</strong>
          <%= @experiment.early_adopters_planned %>
        </p>

        <p>
          <strong>Early adopters converted:</strong>
          <%= @experiment.early_adopters_converted %>
        </p>
        <hr>
        <div class="from-group pull-right">
          <%= link_to 'Edit', edit_project_phase_experiment_path(@project.id, @phase.id, @experiment) %> |
          <%= link_to 'Destroy', project_phase_experiment_path(@project.id, @phase.id, @experiment), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>

        <!-- Hypotesis selected -->
        <h6>Hypotheses selected</h6>
        <div class="phase_overview">
          <table class="phase_table">
            <tr class="top_row">
              <th>Name</th>
              <th>other data here ....</th>
            </tr>
            <% @experiment.hypotheses.each do |hypothesis| %>
              <tr>
                <th><%= link_to hypothesis.name, project_hypothesis_path(@project.id, hypothesis) %></th>
              </tr>
            <% end %>
          </table>
        </div>


      </div>
    </div>
  </div>
</div>

<%= link_to 'Back to phase', project_phase_path(@project.id, @phase.id) %>
