<p id="notice"><%= notice %></p>

<div id="tabs" data-selected-tab="<%= params[:selected_tab] || 0 %>" style="border: 0">
  <ul>
    <li><a href="#tabs-0">Header</a></li>
    <li><a href="#tabs-1">Hypotheses</a></li>
    <li><a href="#tabs-2">Project members</a></li>
  </ul>
  <div class="panel panel-default panel-body">
    <!-- Header -->
    <div id="tabs-0">
      <div class="panel panel-default panel-heading">
        <div class="form-group">
          <label class="small">Name</label>
          <input class="form-control" value="<%= @experiment.name %>" disabled>
        </div>
        <div class="form-group">
          <label class="small">Description</label>
          <textarea class="form-control" title="description" placeholder=" -- " disabled><%= @experiment.description %></textarea>
        </div>
      </div>
      <div class="panel panel-default panel-heading">
        <div class="row">
          <div class="form">
            <div class="form-group col-sm-6 col-xs-6" style="margin: 1px">
              <label class="small">Completion</label>
              <input type="text" class="form-control" id="" value="<%= @experiment.completed ? 'Experiment is completed' : 'Experiment is not completed' %>" disabled>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form form-horizontal">
            <div class="form-group col-sm-3 col-xs-6" style="margin: 1px">
              <label class="small">Interviews planned</label>
              <input type="text" class="form-control" id="" placeholder=" -- " value="<%= @experiment.interviews_planned %>" disabled>
            </div>
            <div class="form-group col-sm-3 col-xs-6" style="margin: 1px">
              <label class="small">Interviews done</label>
              <input type="text" class="form-control" id="" placeholder=" -- " value="<%= @experiment.interviews_done %>" disabled>
            </div>
            <div class="form-group col-sm-3 col-xs-6" style="margin: 1px">
              <label class="small">Iterviews completion</label>
              <input type="text" class="form-control" id="" value="<%= @experiment.interviews_completion[:number] %> (<%= number_to_percentage(@experiment.interviews_completion[:ratio] * 100, options = {precision: 2}) %>) " disabled>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form form-horizontal">
            <div class="form-group col-sm-3 col-xs-6" style="margin: 1px">
              <label class="small">Early adopters planned</label>
              <input type="text" class="form-control" id="" placeholder=" -- " value="<%= @experiment.early_adopters_planned %>" disabled>
            </div>
            <div class="form-group col-sm-3 col-xs-6" style="margin: 1px">
              <label class="small">Early adopters converted</label>
              <input type="text" class="form-control" id="" placeholder=" -- " value="<%= @experiment.early_adopters_converted %>" disabled>
            </div>
            <div class="form-group col-sm-3 col-xs-6" style="margin: 1px">
              <label class="small">Early adopters conversion</label>
              <input type="text" class="form-control" id="" value="<%= @experiment.early_adopters_conversion[:number] %> (<%= number_to_percentage(@experiment.early_adopters_conversion[:ratio] * 100, options = {precision: 2}) %>) " disabled>
            </div>
          </div>
        </div>
        <br>
      </div>
      <%= link_to 'Edit', edit_project_phase_experiment_path(@project.id, @phase.id, @experiment), class:'btn btn-success pull-right' %>
    </div>
    <!-- Hypotheses -->
    <div id="tabs-1">
      <%= bootstrap_form_tag url: "/projects/#{@project.id}/phases/#{@phase.id}/experiments/#{@experiment.id}/add_hypothesis", layout: :inline do |f|%>
        <%= f.hidden_field :id, value: @experiment.id %>
        <%= f.select(:hypothesis_id, grouped_options_for_select(@experiment.hypothesis_for_grouped_select), hide_label: true) %>
        <%= f.submit("Add hypothesis") %>
      <% end %>
      <hr>
      <!-- Modal -->
      <div id="show-hypothesis" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
      <div class="row" id="areas-row">
        <% (@experiment.results.group_by { |r| r.hypothesis.area_identifier }).each do |k, v| %>
          <div class="col-xs-12" id="area-col-<%= k.gsub(' ', '-') %>">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h6 class="panel-title"><%= k.capitalize %></h6>
              </div>
              <div class="panel-body">
                <% v.each do |result| %>
                  <div class="col-sm-4" id="result-col-<%= result.id %>">
                    <div class="panel panel-default">
                      <div class="panel-heading" style="height: 40px; overflow-y: auto; white-space: nowrap;">
                        <!-- <p>
                          <%= link_to result.hypothesis.name, project_hypothesis_path(@project.id, result.hypothesis),
                            { remote: true, 'data-toggle': "modal", 'data-target': '#show-result',
                              id: "result-link-#{result.hypothesis.id}"} %>
                        </p> -->
                        <p><%= link_to result.hypothesis.name, project_hypothesis_path(@project.id, result.hypothesis) %></p>
                      </div>
                      <div class="panel-heading" style="height: 40px">
                        <input value="<%= result.level.present? ? Result::LEVELS[result.level] : 'No validation level' %>">
                      </div>
                      <div class="panel-heading" style="height: 40px">
                        <%= button_to("Remove", "/projects/#{@project.id}/phases/#{@phase.id}/experiments/#{@experiment.id}/remove_hypothesis" , html_options = {form: {style: 'display:inline-block;'}, method: "post", params:{project_id: @project.id, phase_id: @phase_id, id: @experiment.id, result_id: result.id}, class: 'btn btn-danger btn-xs pull-right' }) %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Project members -->
    <div id="tabs-2">
      <%= bootstrap_form_tag url: "/projects/#{@project.id}/phases/#{@phase.id}/experiments/#{@experiment.id}/add_user", layout: :inline do |f| %>
      <%= f.hidden_field :id, value: @experiment.id %>
      <%= f.select(:user_id, @experiment.phase.project.users.collect {|u| [ u.name, u.id ] }, hide_label: true) %>
      <%= f.submit "Add user", class: 'btn btn-success' %>
      <% end %>
      <hr>
      <% @experiment.users.each do |user| %>
        <div class="col-sm-3">
          <div class="panel panel-default panel-heading">
            <p><%= user.name %></p>
            <p><%= user.email %></p>
            <%= button_to(name = "Remove", "/projects/#{@project.id}/phases/#{@phase.id}/experiments/#{@experiment.id}/remove_user" , html_options = {method: "post", params:{project_id: @project.id, phase_id: @phase_id, id: @experiment.id, user_id: user.id}, class: 'btn btn-danger btn-xs'}) %>
          </div>
        </div>
      <% end %>
    </div>
</div>

<%= link_to 'Back to phase', project_phase_path(@project.id, @phase.id) %>

<script>
  $( function() {
    var selectedTab = $("#tabs").data("selected-tab")
    $( "#tabs" ).tabs({ active: selectedTab });
  });
</script>
