<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @area.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @area.description %>
</p>

<p>
  <strong>Area identifier:</strong>
  <%= @area.area_identifier %>
</p>

<%= link_to 'Edit', edit_project_canvas_area_path(@project, @canvas, @area) %> |
<%= link_to 'Destroy', project_canvas_area_path(@project.id, @canvas.id, @area), method: :delete, data: { confirm: 'Are you sure?' } %>

<hr>

<!-- Hypotesis selected -->
<h6>Hypotheses selected</h6>
<div class="phase_overview">
  <table class="phase_table">
    <tr class="top_row">
      <th>Name</th>
      <th>other data here ....</th>
    </tr>
    <% @area.hypotheses.each do |hypothesis| %>
      <tr>
        <th><%= link_to hypothesis.name, project_hypothesis_path(@project.id, hypothesis) %></th>
      </tr>
    <% end %>
  </table>
  <br />
  <%= link_to 'New hypothesis', new_project_hypothesis_path(@project.id), :class => 'btn btn-large btn-success' %>
</div>
