
<%= bootstrap_form_for([@project, @canvas]) do |f| %>
  <% if @canvas.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@canvas.errors.count, "error") %> prohibited this canvas from being saved:</h2>

      <ul>
      <% @canvas.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :project_id, value: @project.id %>

  <div class="row">
    <%= f.text_field :name, wrapper: {class: 'col-sm-6 col-xs-12'} %>
    <%= f.text_area :description, wrapper: {class: 'col-xs-12'} %>
  </div>

  <div class="row">
    <!-- integer -->
    <%= f.number_field :customers_to_break_even, wrapper:{class: 'col-sm-4'} %>
    <!-- decimal -->
    <%= f.number_field :payback_period, wrapper:{class: 'col-sm-4'} %>
    <%= f.number_field :gross_margin, wrapper:{class: 'col-sm-4'} %>
    <%= f.number_field :market_size, wrapper:{class: 'col-sm-4'} %>
  </div>

  <div class="row">
    <!-- integer from select -->
    <div class="col-sm-4">
      <%= f.select :customer_pain_level, Canvas.list_of_customer_pain_levels, include_blank: true %>
    </div>
    <div class="col-sm-4">
      <%= f.select :market_ease_of_reach, Canvas.list_of_market_ease_of_reach, include_blank: true %>
    </div>
    <div class="col-sm-4">
      <%= f.select :feasibility, Canvas.list_of_feasibility, include_blank: true %>
    </div>
    <div class="col-sm-4">
      <%= f.select :riskiness, Canvas.list_of_riskiness, include_blank: true %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <%= f.submit "Save", class:"btn btn-success" %>
      <% if !@canvas.new_record? %>
        <%= link_to 'Delete', project_canvas_path(@project.id, @canvas),
          method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% end %>
      <%= link_to 'Cancel',
        @canvas.new_record? ? project_path(id: @project.id, selected_tab: 1) : project_canvas_path(@project.id, @canvas),
        class:"btn btn-info" %>
    </div>
  </div>

<% end %>
