
<%= bootstrap_form_for([@project, @canvas]) do |f| %>
  <% if @canvas.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@canvas.errors.count, "error") %> prohibited this canvas from being saved:</h2>

      <ul>
      <% @canvas.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :project_id, value: @project.id %>
  <%= f.text_field :name %>
  <%= f.text_area :description %>

  <%= f.submit "Save", class:"btn btn-success" %>
  <% if !@canvas.new_record? %>
    <%= link_to 'Delete', project_canvas_path(@project.id, @canvas), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
  <%= link_to 'Cancel', @canvas.new_record? ? project_path(id: @project.id, selected_tab: 1) : project_canvas_path(@project.id, @canvas), class:"btn btn-info" %>

<% end %>
