<p id="notice"><%= notice %></p>

<h1>Canvases</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @canvases.each do |canvas| %>
      <tr>
        <td><%= canvas.name %></td>
        <td><%= canvas.description %></td>
        <td><%= link_to 'Show', canvas %></td>
        <td><%= link_to 'Edit', edit_canvas_path(canvas) %></td>
        <td><%= link_to 'Destroy', canvas, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New canvas', new_canvas_path %>
