<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @canvas.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @canvas.description %>
</p>

<br>
<%= link_to 'Edit', edit_project_canvas_path(@canvas.project, @canvas) %> |
<%= link_to 'Destroy', project_canvas_path(@project.id, @canvas), method: :delete, data: { confirm: 'Are you sure?' } %>

<hr>
