<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @canvas.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @canvas.description %>
</p>

<br>
<%= link_to 'Edit', edit_project_canvas_path(@canvas.project, @canvas) %> |
<%= link_to 'Destroy', project_canvas_path(@project.id, @canvas), method: :delete, data: { confirm: 'Are you sure?' } %>

<hr>

<!-- Areas -->
<h6>Areas</h6>
<div class="phase_overview">
  <table class="phase_table">
    <tr class="top_row">
      <th>Name</th>
      <th>other data here ....</th>
    </tr>
    <% @canvas.areas.each do |area| %>
      <tr>
        <th><%= link_to area.name, project_canvas_area_path(@project.id, @canvas.id, area) %></th>
      </tr>
    <% end %>
  </table>
</div>
