
<h3>Project: <em><%= @project.name %></em> - Phase: <em><%= @phase.name %></em></h3>

<%= form_for([@project, @phase]) do |f| %>
  <% if @phase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phase.errors.count, "error") %> prohibited this @phase from being saved:</h2>

      <ul>
      <% @phase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>

  <div class="field">
    <%= f.label :sequence %>
    <%= f.number_field :sequence %>
  </div>

  <div class="field">
    <%= f.label :number_of_sprints %>
    <%= f.number_field :number_of_sprints %>
  </div>

  <div class="field">
    <%= f.label :sprint_length %>
    <%= f.number_field :sprint_length %>
  </div>

  <% if @phase.new_record? %>

    <%= f.hidden_field :completed, :value => FALSE %>
    <%= f.hidden_field :project_id, value: @project.id %>
    <%= f.hidden_field :sequence, value: @phase.sequence %>

  <% else %>

    <div class="field">
      <%= f.label :completed %>
      <%= f.check_box :completed %>
    </div>

    <%= f.hidden_field :project_id, value: @project.id %>
    <%= f.hidden_field :sequence, value: @phase.sequence %>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
