<p id="notice"><%= notice %></p>

<h1>Phases for <%= @project.name %></h1>
<br>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Sequence</th>
      <th>Number of sprints</th>
      <th>Sprint length</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phases.each do |phase| %>
      <tr>
        <td><%= phase.start_date %></td>
        <td><%= phase.end_date %></td>
        <td><%= phase.sequence %></td>
        <td><%= phase.number_of_sprints %></td>
        <td><%= phase.sprint_length %></td>
        <td><%= phase.completed %></td>
        <td><%= link_to 'Show', project_phase_path(@project.id, phase) %></td>
        <td><%= link_to 'Edit', edit_project_phase_path(@project.id, phase) %></td>
        <td><%= link_to 'Destroy', project_phase_path(@project.id, phase), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phase', new_project_phase_path(@project.id) %>
