<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h6 class="panel-title text-center"><%= "Phase #{@phase.sequence + 1}: #{@phase.name}" %></h6>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-4">
            <label for="">Start date</label>
            <input type="text" class="form-control" id="" placeholder=" -- " value="<%= @phase.start_date.strftime("%d %b %Y") if @phase.start_date.present? %>" disabled>
          </div>
          <div class="form-group col-sm-4">
            <label for="">End date</label>
            <input type="text" class="form-control" id="" placeholder=" -- " value="<%= @phase.end_date.strftime("%d %b %Y") if @phase.end_date.present? %>" disabled>
          </div>
          <div class="form-group col-sm-4">
            <label for="">Duration</label>
            <input type="text" class="form-control" id="" placeholder=" -- " value="<%= @phase.duration %>" disabled>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group col-sm-4">
            <label for="">N. of sprints</label>
            <input type="text" class="form-control" id="" placeholder="no date yet" value="<%= @phase.number_of_sprints %>" disabled>
          </div>
          <div class="form-group col-sm-4">
            <label for="">Sprints length</label>
            <input type="text" class="form-control" id="" placeholder="no length yet" value="<%= @phase.sprint_length %>" disabled>
          </div>
          <div class="form-group col-sm-4">
            <label for="">Completion</label>
            <input type="text" class="form-control" id="" value="<%= @phase.completed ? 'Completed' : 'Not completed' %>" disabled>
          </div>
        </div>
        <hr>
        <%= link_to 'Edit', edit_project_phase_path(@phase.project, @phase), class:'btn btn-success btn-sm' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div id="tabs" data-selected-tab="<%= params[:selected_tab] || 0 %>" style="border: 0">
      <ul>
        <li><a href="#tabs-0">Sprints</a></li>
        <li><a href="#tabs-1">Experiments</a></li>
      </ul>
      <div class="panel panel-default panel-body">
        <!-- Sprints -->
        <div id="tabs-0">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
              <thead>
                <tr>
                  <th>Completed</th>
                  <th>Sprint</th>
                  <th>Start date</th>
                  <th>End date</th>
                  <th>Stories</th>
                  <th>Points</th>
                  <th>Happiness</th>
                </tr>
              </thead>
              <tbody>
                <% @phase.sprints.order(:start_date).each do |sprint| %>
                  <tr>
                    <td>
                    <% if sprint.completed %>
                      [x]
                    <% else %>
                      [ ]
                    <% end %>
                    </td>
                    <td>
                      <%= link_to "Sprint #{@phase.sprints.find_index(sprint) + 1}", project_phase_sprint_path(@project.id, @phase.id, sprint) %>
                    </td>
                    <td>
                      <%= sprint.start_date.present? ? sprint.start_date.strftime("%d %b %Y") : '-' %>
                    </td>
                    <td>
                      <%= sprint.end_date.present? ? sprint.end_date.strftime("%d %b %Y") : '-' %>
                    </td>
                    <td><%= sprint.stories_completion[:number] %>
                      (<%= number_to_percentage(sprint.stories_completion[:ratio] * 100, options = {precision: 2}) %>)
                    </td>
                    <td><%= sprint.points_completion[:number] %>
                      (<%= number_to_percentage(sprint.points_completion[:ratio] * 100, options = {precision: 2}) %>)
                    </td>
                    <td>
                      <%= sprint.happiness %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Experiments -->
        <div id="tabs-1">
          <div class="col-sm-4" style="display: inline">
            <select class="form-control" id="select-experiment-type">
              <option value="">--select an experiment type</option>
              <% Experiment.experiment_types.each do |type| %>
                <option value="<%= type.underscore.pluralize %>"><%= (type.underscore).split('_')[0].capitalize %></option>
              <% end %>
            </select>
          </div>
          <button class="btn btn-success" id="create-new-experiment">New experiment</button>
          <hr>
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
              <thead>
                <tr>
                  <th>Completed</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Start</th>
                  <th>End</th>
                  <th>Duration</th>
                  <th>Interviews</th>
                </tr>
              </thead>
              <tbody>
                <% @phase.experiments.each do |experiment| %>
                  <tr>
                    <td>
                      <% if experiment.completed %>
                        [x]
                      <% else %>
                        [ ]
                      <% end %>
                    </td>
                    <td>
                      <%= link_to experiment.name, sti_experiment_path(@project.id, @phase.id, experiment.type, experiment) %>
                    </td>
                    <td>
                      <%= experiment.type %>
                    </td>
                    <td>
                      <%= experiment.start_date.strftime("%d %b %Y") if experiment.start_date.present? %>
                    </td>
                    <td>
                      <%= experiment.end_date.strftime("%d %b %Y") if experiment.end_date.present? %>
                    </td>
                    <td>
                      <%= experiment.duration %>
                    </td>
                    <td><%= experiment.interviews_completion[:number] %>
                      (<%= number_to_percentage(experiment.interviews_completion[:ratio] * 100, options = {precision: 2}) %>)
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>

<script>
  $( function() {

    var selectedTab = $("#tabs").data("selected-tab")
    $( "#tabs" ).tabs({ active: selectedTab });

    var project_id= '<%=@project.id%>';
    var phase_id= '<%=@phase.id%>';

    var $selectExperimentType = $("select#select-experiment-type");
    var $buttonCreateNewExperiment = $("button#create-new-experiment");

    $buttonCreateNewExperiment.attr("disabled", !$selectExperimentType.val() ? true : false);

    function disableButton(event){
      event.preventDefault();
      $buttonCreateNewExperiment.attr("disabled", !event.target.value ? true : false);
    }

    function createNewExperiment(event){
      event.preventDefault();
      var selectedExperimentType = $selectExperimentType.val();
      window.location.href = "/projects/"+ project_id +"/phases/"+ phase_id +"/"+ selectedExperimentType +"/new"
    }

    $selectExperimentType.bind("change", disableButton);
    $buttonCreateNewExperiment.bind("click", createNewExperiment);


  });
</script>
