<!DOCTYPE html>
<html>
  <head>
    <title>Leanio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta property="og:title" content="Leanio"/>
    <meta property="og:description" content="Web application that helps innovators and entrepreneurs manage their ideas using the Lean Startup and Running Lean methodologies."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.leanio.co"/>
    <meta property="og:site_name" content="Leanio"/>

  </head>

  <body>

    <%= render "layouts/header" %>

    <main class="container">

      <% unless @disabled_breadcrumb %>
        <ol class="breadcrumb">
          <%= render_breadcrumbs(tag: :li, separator: "") %>
        </ol>
      <% end %>

      <%= yield %>

    </main>

    <%= render "layouts/footer" %>

  </body>
</html>
